#container {
	background-image: url("https://media.giphy.com/media/xoP5YFngzJwXK/giphy.gif");
	height: 100vh;
	background-position: center;
	background-size: cover;
	font-family: 'Ranchers', cursive;
  background-repeat: repeat-x;
}

header {
	text-align: center;
}

h1 {
	font-size: 90px;
	margin: 0;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h6 {
  font-size: 20px;
}

p {
	display: inline-block;
	padding: 15px;
	font-size: 25px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  background: red;
  background: -webkit-linear-gradient(left, red , white, blue);
  background: -o-linear-gradient(right, red , white, blue);
  background: -moz-linear-gradient(right, red , white, blue);
  background: linear-gradient(to right, red , white, blue);
}

#unicorn-instructions {
	float: left;
  color: #00FFFF;
}

#brownHorse-instructions {
	float: right;
  color: #00FFFF;
}

input {
	padding: 10px;
	margin: 0 5px;
	border-radius: 5px;
	background-color: white;
	font-size: 20px;
}

input:focus {
	outline : 0;
}

img {
	display: block;
}

.race {
	position: relative;

}
#brownHorse {
	position: relative;
	left: 0px;
	top: 15px;
	width: 170px;
	//padding-left: 48px;
}

#unicorn {
	position: relative;
	left: 0;
	top: -110px;
	width: 170px;
}

#laughingHorse {
	position: relative;
	width: 100px;
	left: 200px;
	top: -75px;
}

#trophy {
	position: absolute;
	width: 400px;
	top: 55%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

img#trophy{
  border-radius: 50%;
  border: 10px groove gold;
}

.bigger {
  font-weight: bold;
  font-size: 120%;
}

p.contactDev {
  /*font-size: 90%;*/
  text-align: center;
  color: blue;
  font-weight: light;
}

.iconShrink{
  font-size: 80%;
}

.small {
  font-size: 75%;
}
